div#mainBack {
    background-color: darkgrey;
    height: 500px;
    width: 1100px;
    position: relative;
}
.knob {
    position: absolute;
}
#knob01 {
    top: 20px;
    left: 50px;
}
#knob02 {
    top: 20px;
    left: 150px;
}
#knob03 {
    top: 20px;
    left: 250px;
}
#knob04 {
    top: 20px;
    left: 350px;
}
#knob05 {
    top: 20px;
    left: 450px;
}
#knob06 {
    top: 20px;
    left: 550px;
}
#knob07 {
    top: 20px;
    left: 650px;
}
#knob08 {
    top: 20px;
    left: 750px;
}
#knob09 {
    top: 180px;
    left: 50px;
}
#knob10 {
    top: 180px;
    left: 150px;
}
#knob11 {
    top: 180px;
    left: 250px;
}
#knob12 {
    top: 180px;
    left: 350px;
}
#knob13 {
    top: 180px;
    left: 450px;
}
#knob14 {
    top: 180px;
    left: 550px;
}
#knob15 {
    top: 180px;
    left: 650px;
}
#knob16 {
    top: 180px;
    left: 750px;
}
.slider {
    position: absolute;
}
#slider01 {
    top: 60px;
    right: 100px;
}
#slider02 {
    top: 60px;
    right: 40px;
}
.param {
    background-color: black;
    position: absolute;
}
#param01 {
    top: 260px;
    right: 95px;
}
#param02 {
    top: 260px;
    right: 35px;
}
.switch {
    position: absolute;
}
#switch01 {
    top: 90px;
    right: 160px;
}
#switch02 {
    top: 180px;
    right: 160px;
}
#keyboard {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.number-for-knobs {
    position:absolute;
    top:140px;
    font-size: 20px;
    color: beige;
}
#arrows-right-left {
    position: absolute;
    top: 15px;
    right: 93px;
    color: beige;
    font-size: 40px;
}
#arrows-up-down {
    position: absolute;
    top: 0px;
    right: 43px;
    color: beige;
    font-size: 40px;
}
#template {
    position: absolute;
    top: 70px;
    right: 160px;
    color: crimson;
    font: 30px;
}
#template-user {
    position: absolute;
    top: 145px;
    right: 173px;
    color: crimson;
    font: 30px;
}
#template-factory {
    position: absolute;
    top: 240px;
    right: 163px;
    color: crimson;
    font: 30px;
}